<!DOCTYPE html>
<html>

<head>
    <title>bdwa: search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style2.css" />
    <script src="https://kit.fontawesome.com/a84da40d8a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand bg-dark">
        <a class="navbar-brand" href="/">bdwa</a>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center font-italic big-header">about</h1>
        <p class="text-center">about the project</p>
        <h3 class="font-italic">about bdwa</h3>
        <p><span class="font-weight-bold">Blind Date With an Album</span> was created to help you discover new music using mysterious crowdsourced descriptions. Anyone can contribute a listing by picking a favorite album and describing it in a few short sentences (without revealing the name of the album!). Their listing will appear randomly on the homepage, helping others to discover new music just by browsing for descriptions that catch their eye.</p>
        <h3 class="font-italic">the developers</h3>
        <p><span class="font-weight-bold">Blind Date With an Album</span> was created by Victor Chu, Richard Huang, <a href="https://github.com/joek13">Joe Kerrigan</a>, and Kevin Mo as part of <a href="http://2020f.pennapps.com/">PennApps XXI</a>.</p>
        <br/>
        <br/>
        <p class="small text-muted text-center">Made with <i class="fas fa-heart"></i> with Django, Python, and not an insignificant amount of coffee.</p>
    </div>
</body>

</html>