<!DOCTYPE html>
<html>

<head>
    <title>bdwa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style2.css" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand bg-dark">
        <a class="navbar-brand" href="/">bdwa</a>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center font-italic big-header">Blind Date With an Album</h1>
        <p class="text-center">{{ splash }}</p>
        <p class="text-center small"><a href="/create">Contribute a listing</a> | <a href="/search">Search listings</a> | <a href="/about/">About bdwa</a>
        </p>
        <div class="albums-container">
            {% autoescape on %}
            {% for listing in listings %}
            <a class="unstyled" href="{{ listing.url }}">
                <div class="album">
                    <h3>{{ listing.description }}</h3>
                </div>
            </a>
            {% endfor %}
            {% endautoescape %}
        </div>
        <p class="text-center small text-muted"><a href="/">Reload the page</a> for fresh recs.</p>
    </div>
</body>

</html>