html {
    scroll-behavior: smooth; 
}

/* nav bar */
.centerText {
	position: absolute; 
	top: 50%; 
	text-align: center; 
	width: 100%; 
	color: white;
	font-size: 30px;
	font-weight: bold;
}

/* button in home page */
#frontButton {
	border-color: white;
	padding: 20px;
}

#frontButton:hover {
    cursor: pointer;
    background-color: white;
    color: black !important;
    visibility: visible;
}

/* feed title */
h1 {
    text-align: center;
    padding: 20px;
}

/* music bags */
